testconfig.json
dashboards/uploaded/*
bt_api_templates/uploaded/*
.DS_Store
notes.txt
error.log
local*/*
local.*
temp*
jenkins_home*
integrations/Harnessio/*
Setup/Applications/*
.vscode/*
zz_demoflow*
business_transactions/uploaded/*
api_actions/uploaded/*.json*
api_actions/actions/*.json*
custom_dashboards/*.json*
custom_dashboards/uploaded/*.json*
cookie.appd
rbac/restui_role_files/uploaded/*.json
rbac/restui_saml_files/uploaded/*.json
rbac/restui_license_rules_files/uploaded/*.json