---
---

$header-bg-color: #4E3EB1;
$header-bg-color-secondary: #4E3EB1;
$header-heading-color: #ffffff;


$section-headings-color: #4E3EB1; 
$body-text-color: #000000; 
$blockquote-text-color: #819198; 

@import "{{ site.theme }}";



