# This is a basic workflow to help you get started with Actions

name: ConfigMyAppCI

# Controls when the action will run. Triggers the workflow on push or pull request
on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  DcokerImage-QA:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: QA Docker Image
      run: |
          echo Running docker image
          cd docker
          ls -ltr
          ./run.sh
  CLI-QA:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    - name: TestCase1- Basic ConfigMyApp
      run: |
          echo Running basic CMA
          pwd
          ls -ltr
          ./start.sh -a Jenkins_API -c configmyappdemo-2044no-uzyczrm0.appd-cx.com -p appd -u appd 
          
    - name: TestCase2- BT_ONLY
      env:
        CMA_USE_HTTPS: false
      run: |
          echo Running BT_ONLY,
          ./start.sh -a Jenkins_API -c configmyappdemo-2044no-uzyczrm0.appd-cx.com -p appd -u appd --bt-only
          
    - name: TestCase3- Action suppression.Default
      run: |
          echo Running Action Suppression,
          ./start.sh -a Jenkins_API -c configmyappdemo-2044no-uzyczrm0.appd-cx.com -p appd -u appd --suppress-action
          
    - name: TestCase4- Action suppression. Date and duration 
      run: |
          echo Running Action Suppression,
          ./start.sh -a Jenkins_API -c configmyappdemo-2044no-uzyczrm0.appd-cx.com -p appd -u appd --suppress-action --suppress-start=$(date -u +%FT%T) --suppress-duration=120
          
    - name: TestCase5- SIM and DB
      run: |
          echo Running SIM and DB,
          ./start.sh -a IoT_API -c configmyappdemo-2044no-uzyczrm0.appd-cx.com -p appd -u appd  --include-database  --database-name 'ConfigMyApp'  --include-sim
